*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: Lato, sans-serif;
    line-height: 1.7rem;
}

body {
    margin: 0;
    border-top: 8px solid #2dcc70;
}

p {
    color: #9c9a9a;
}

h5 {
    font-weight: bold;
    margin: 1.3rem;
}

.col-md-4 {
    padding: 4%;
}

/*HEADER*/
.carousel-caption {
    width: 35%;
    top: 15%;
    padding: 5%;
}

.brand {
    color: #FFFF;
    text-align: left;
}

.brand .logo {
    height: 6rem;
    margin-bottom: 5%;
}

.brand h4 {
    margin-bottom: 5%;
    opacity: 0.8;
}

.brand .row {
    width: 60%;
}

.brand .col-md-4 figure {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #2C2727;
    opacity: 0.7;
    color: #FFFF;
    line-height: 42px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.brand .col-md-4 figure:hover {
    background-color: #2dcc70;
    opacity: 1;
}

/*FEATURES*/
#features {
    text-align: center;
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #2dcc70;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.circle .image {
    margin: auto;
}

.col-md-4>p {
    margin: 15px;
}

/*FORM*/
#form {
    background-color: #e3e3e3;
}

#form .row {
    margin: 0 auto;
}

.text-box h4 {
    font-weight: bold;
    margin-bottom: 4%;
}

.col-6 {
    padding: 5%;
}

.col-6 iframe {
    border-radius: 10px;
    border: none;
    background-color: #000000;
}

.form-mail input {
    border: 1px solid #CCC;
    height: 3rem;
    width: 16rem;
    padding: 4%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-indent: 5px;
}

.input-group-text {
    width: 8rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #2dcc70;
    color: #fff;
    font-weight: bold;
    justify-content: center;
    cursor: pointer;
}

.input-group-text:hover {
    background-color: #2ee87d;
}

/*CONTACT*/

#contact article {
    text-align: center;
    padding-top: 5%;
}

#contact .gallery {
    width: 100%;
    margin: auto;
    margin-right: 0;
}

.gallery img {
    padding: 2px;
}

.text h4 {
    font-weight: bold;
}

.text .cite {
    font-style: italic;
    color: #9c9a9a;
}

.social {
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.social .col {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e3e3e3;
    margin: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social .col img {
    height: 19px;
}

.social .col:hover {
    background-color: #2dcc70;
}

/*FOOTER*/
.main-footer {
    background-color: #e3e3e3;
}

.main-footer .container {
    width: 60%;
    text-align: center;
    display: inline;
}

.list {
    margin: 0;
    padding-top: 2%;
    padding-bottom: 2%;
}

.list>li {
    padding: 1.5%;
    display: inline;
}

.list a {
    color: #9c9a9a;
}

.list a:hover {
    color: #2dcc70;
    text-decoration: none;
}

